	<p id="kundencenter_nav">
    	Startseite | So funktioniert's | Tarifübersicht | FAQ | Ayofone-Phone | SMS | Einstellungen | Rechungen | Einstellungen 
    </p>
    
    	<h1>
    		Konto
    	</h1>
    
    <p id="konto_nav">
    	Konto aufladen | Telefonbuch | Einzelverbindungsnachweis | Ayofone-Phone | SMS | Einstellungen | Rechungen | Einstellungen 
    </p>