    <h1><%= @post.title %></h1>
    <p><%= @post.content %></p>
    <p><%= link_to "Zum Index", posts_path %><p>
    <small>Erstellt am <%= localize(@post.created_at, :format => :sample) %></small>
  