

<% if current_page?(:id=> '10') == true and controller_name == "accounts" %> <!-- Einstellungen -->

	<p>
		Persönliche Daten | Zusätzliche Rufnummer | E-Mail-Adresse ändern | Passwort ändern | Tarifansage | Automatische Aufladung
	</p>
	
<%end %>
